<mat-sidenav-container class="custom-drawer" #drawer>
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile && !currentUrl" fixedInViewport
        [fixedTopGap]="0" class="main-sidenav">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content class="main-container" [ngClass]="
        {
            'is-mobile': isMobile || currentUrl,
        }">
        <router-outlet>
            <div class="inline gap-10 theme-button">
                <button mat-icon-button [mat-menu-trigger-for]="theme">
                    <mat-icon class="primary-main-color-stroke svg-icon"
                        [svgIcon]="themeService.selectedTheme()?.icon || ''"></mat-icon>
                </button>
                <mat-menu #theme="matMenu">
                    @for (theme of themeService.getAllThemes(); track theme.name) {
                    <button mat-menu-item (click)="themeService.setTheme(theme.name)">
                        <mat-icon class="primary-main-color-stroke svg-icon" [svgIcon]="theme.icon"></mat-icon>
                        <span>{{ translateTheme(theme.name) | translate | titlecase }}</span>
                    </button>
                    }
                </mat-menu>
                <button mat-icon-button [mat-menu-trigger-for]="language">
                    <mat-icon class="svg-icon" [svgIcon]="languageService.selectedLanguage()?.icon || ''"></mat-icon>
                </button>
                <mat-menu #language="matMenu">
                    @for (language of languageService.getAllLanguages(); track language.name) {
                    <button mat-menu-item (click)="languageService.setLanguage(language.name)">
                        <mat-icon class="svg-icon" [svgIcon]="language.icon"></mat-icon>
                        <span>{{ translateLanguage(language.name) | translate | titlecase }}</span>
                    </button>
                    }
                </mat-menu>
            </div>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>